In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
nba_stats_df = pd.read_csv('nba_2017_br.csv')

In [4]:
print(nba_stats_df.keys())

Index(['Rk', 'PLAYER', 'Pos', 'Age', 'TEAM', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PS/G'],
      dtype='object')

In [5]:
nba_advstats_df = pd.read_csv('nba_2017_pie.csv')

In [6]:
nba_plusminus_df = pd.read_csv('nba_2017_real_plus_minus.csv')

In [7]:
print(nba_plusminus_df.keys())

Index(['NAME', 'TEAM', 'GP', 'MPG', 'ORPM', 'DRPM', 'RPM', 'WINS'], dtype='object')

In [8]:
print(nba_advstats_df.keys())

Index(['PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'OFFRTG', 'DEFRTG',
       'NETRTG', 'AST%', 'AST/TO', 'AST RATIO', 'OREB%', 'DREB%', 'REB%',
       'TO RATIO', 'EFG%', 'TS%', 'USG%', 'PACE', 'PIE'],
      dtype='object')

In [9]:
nba_plusminus_df.columns = nba_plusminus_df.columns.str.replace('NAME','PLAYER')

In [10]:
print(nba_plusminus_df.keys())

Index(['PLAYER', 'TEAM', 'GP', 'MPG', 'ORPM', 'DRPM', 'RPM', 'WINS'], dtype='object')

In [11]:
nba_advfilter_df = nba_advstats_df[['PLAYER', 'TEAM', 'GP', 'W', 'L', 'NETRTG', 'TS%', 'PIE']]

In [12]:
print(nba_advfilter_df.head())

              PLAYER TEAM  GP   W   L  NETRTG   TS%   PIE
0  Russell Westbrook  OKC  81  46  35     3.3  55.4  23.0
1   Boban Marjanovic  DET  35  16  19     1.9  60.6  19.6
2  Demetrius Jackson  BOS   5   1   4     6.3  75.3  19.4
3      Anthony Davis  NOP  75  31  44     1.7  58.0  19.2
4       James Harden  HOU  81  54  27     6.3  61.3  19.0

In [13]:
nba_statsfilter_df = nba_stats_df[['PLAYER', 'TEAM', 'G', 'GS', 'MP', 'TRB', 'AST', 'STL', 'BLK', 'PS/G']]

In [38]:
nba_plusminusfilter_df = nba_plusminus_df[['PLAYER', 'TEAM', 'MPG', 'RPM', 'WINS']]

In [39]:
print(nba_plusminusfilter_df.head())

                  PLAYER TEAM   MPG   RPM   WINS
0       LeBron James, SF  CLE  37.8  8.42  20.43
1      Stephen Curry, PG   GS  33.4  7.41  18.80
2       Jimmy Butler, SG  CHI  37.0  6.62  17.35
3  Russell Westbrook, PG  OKC  34.6  6.27  17.34
4     Draymond Green, PF   GS  32.5  7.14  16.84

In [40]:
nba_plusminusfilter_df= nba_plusminusfilter_df.reset_index(drop=True)

In [41]:
nba_plusminusfilter_df['PLAYERNAME'] = nba_plusminusfilter_df.PLAYER.map(lambda x: x.split(',')[0])

In [42]:
print(nba_plusminusfilter_df.head())

                  PLAYER TEAM   MPG   RPM   WINS         PLAYERNAME
0       LeBron James, SF  CLE  37.8  8.42  20.43       LeBron James
1      Stephen Curry, PG   GS  33.4  7.41  18.80      Stephen Curry
2       Jimmy Butler, SG  CHI  37.0  6.62  17.35       Jimmy Butler
3  Russell Westbrook, PG  OKC  34.6  6.27  17.34  Russell Westbrook
4     Draymond Green, PF   GS  32.5  7.14  16.84     Draymond Green

In [43]:
nba_plusminusfilter_df=nba_plusminusfilter_df.drop(columns='PLAYER')

In [44]:
print(nba_plusminusfilter_df.head())

  TEAM   MPG   RPM   WINS         PLAYERNAME
0  CLE  37.8  8.42  20.43       LeBron James
1   GS  33.4  7.41  18.80      Stephen Curry
2  CHI  37.0  6.62  17.35       Jimmy Butler
3  OKC  34.6  6.27  17.34  Russell Westbrook
4   GS  32.5  7.14  16.84     Draymond Green

In [45]:
nba_plusminusfilter_df.columns = nba_plusminusfilter_df.columns.str.replace('PLAYERNAME','PLAYER')

In [46]:
print(nba_plusminusfilter_df.head())

  TEAM   MPG   RPM   WINS             PLAYER
0  CLE  37.8  8.42  20.43       LeBron James
1   GS  33.4  7.41  18.80      Stephen Curry
2  CHI  37.0  6.62  17.35       Jimmy Butler
3  OKC  34.6  6.27  17.34  Russell Westbrook
4   GS  32.5  7.14  16.84     Draymond Green

In [16]:
nba_fullstats_df = pd.merge(nba_statsfilter_df, nba_advfilter_df, on=['PLAYER','TEAM'])

In [17]:
print(nba_fullstats_df.head())

              PLAYER TEAM   G  GS    MP   TRB   AST  STL  BLK  PS/G  GP   W  \
0  Russell Westbrook  OKC  81  81  34.6  10.7  10.4  1.6  0.4  31.6  81  46
1       James Harden  HOU  81  81  36.4   8.1  11.2  1.5  0.5  29.1  81  54
2      Isaiah Thomas  BOS  76  76  33.8   2.7   5.9  0.9  0.2  28.9  76  51
3      Anthony Davis  NOP  75  75  36.1  11.8   2.1  1.3  2.2  28.0  75  31
4      DeMar DeRozan  TOR  74  74  35.4   5.2   3.9  1.1  0.2  27.3  74  47

    L  NETRTG   TS%   PIE
0  35     3.3  55.4  23.0
1  27     6.3  61.3  19.0
2  25     5.0  62.5  16.1
3  44     1.7  58.0  19.2
4  27     3.3  55.2  15.5

In [47]:
nba_finalstats_df = pd.merge(nba_fullstats_df, nba_plusminusfilter_df, on=['PLAYER','TEAM'])

In [48]:
print(nba_finalstats_df.head())

              PLAYER TEAM   G  GS    MP   TRB   AST  STL  BLK  PS/G  GP   W  \
0  Russell Westbrook  OKC  81  81  34.6  10.7  10.4  1.6  0.4  31.6  81  46
1       James Harden  HOU  81  81  36.4   8.1  11.2  1.5  0.5  29.1  81  54
2      Isaiah Thomas  BOS  76  76  33.8   2.7   5.9  0.9  0.2  28.9  76  51
3      DeMar DeRozan  TOR  74  74  35.4   5.2   3.9  1.1  0.2  27.3  74  47
4     Damian Lillard  POR  75  75  35.9   4.9   5.9  0.9  0.3  27.0  75  38

    L  NETRTG   TS%   PIE   MPG   RPM   WINS
0  35     3.3  55.4  23.0  34.6  6.27  17.34
1  27     6.3  61.3  19.0  36.4  4.81  15.54
2  25     5.0  62.5  16.1  33.8  1.83   8.19
3  27     3.3  55.2  15.5  35.4  0.17   5.46
4  37     1.2  58.6  15.9  35.9  3.14  10.72

In [53]:
nba_finalstats_df.isnull().sum()

PLAYER    0
TEAM      0
G         0
GS        0
MP        0
TRB       0
AST       0
STL       0
BLK       0
PS/G      0
GP        0
W         0
L         0
NETRTG    0
TS%       0
PIE       0
MPG       0
RPM       0
WINS      0
dtype: int64

In [54]:
nba_wiki_df = pd.read_csv('nba_2017_player_wikipedia.csv')

In [55]:
nba_wikisum_df = (nba_wiki_df.groupby('names', as_index=False)['pageviews'].sum())

In [56]:
print(nba_wikisum_df.head())

            names  pageviews
0    A.J. Hammons        996
1    Aaron Brooks       4083
2    Aaron Gordon     627319
3  Aaron Harrison     222966
4   Adreian Payne      75343

In [57]:
nba_wikisum_df['pageviews'] = nba_wikisum_df['pageviews']/1000

In [58]:
print(nba_wikisum_df.head())

            names  pageviews
0    A.J. Hammons      0.996
1    Aaron Brooks      4.083
2    Aaron Gordon    627.319
3  Aaron Harrison    222.966
4   Adreian Payne     75.343

In [59]:
nba_wikisum_df.columns = nba_wikisum_df.columns.str.replace('names','PLAYER')

In [60]:
print(nba_wikisum_df.head())

           PLAYER  pageviews
0    A.J. Hammons      0.996
1    Aaron Brooks      4.083
2    Aaron Gordon    627.319
3  Aaron Harrison    222.966
4   Adreian Payne     75.343

In [61]:
nba_twitter_df = pd.read_csv('nba_2017_twitter_players.csv')

In [62]:
print(nba_twitter_df.head())

              PLAYER  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT
0  Russell Westbrook                  2130.5                  559.0
1       James Harden                   969.0                  321.5
2      Isaiah Thomas                   467.5                  155.5
3      Anthony Davis                   368.0                  104.0
4      DeMar DeRozan                     0.0                  186.0

In [63]:
nba_salary_df = pd.read_csv('nba_2017_salary.csv')

In [64]:
nba_salary_df.columns = nba_salary_df.columns.str.replace('NAME','PLAYER')

In [65]:
print(nba_salary_df.head())

            PLAYER POSITION                 TEAM      SALARY
0     LeBron James       SF  Cleveland Cavaliers  30963450.0
1      Mike Conley       PG    Memphis Grizzlies  26540100.0
2       Al Horford        C       Boston Celtics  26540100.0
3    Dirk Nowitzki       PF     Dallas Mavericks  25000000.0
4  Carmelo Anthony       SF      New York Knicks  24559380.0

In [66]:
nba_socialmedia_df = pd.merge(nba_wikisum_df, nba_twitter_df, on='PLAYER')

In [67]:
print(nba_socialmedia_df.head())

            PLAYER  pageviews  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT
0     Aaron Brooks      4.083                     1.0                    3.0
1     Aaron Gordon    627.319                    42.5                   16.0
2    Adreian Payne     75.343                     0.0                   13.0
3       Al Horford    569.636                   136.0                   71.0
4  Al-Farouq Aminu    221.189                    33.0                    9.0

In [68]:
nba_socialmediasalary_df = pd.merge(nba_socialmedia_df, nba_salary_df, on='PLAYER')

In [69]:
print(nba_socialmediasalary_df.head())

            PLAYER  pageviews  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT  \
0     Aaron Brooks      4.083                     1.0                    3.0
1     Aaron Gordon    627.319                    42.5                   16.0
2    Adreian Payne     75.343                     0.0                   13.0
3       Al Horford    569.636                   136.0                   71.0
4  Al-Farouq Aminu    221.189                    33.0                    9.0

  POSITION                    TEAM      SALARY
0       PG          Indiana Pacers   2700000.0
1       PF           Orlando Magic   4351320.0
2       PF  Minnesota Timberwolves   2022240.0
3        C          Boston Celtics  26540100.0
4       SF  Portland Trail Blazers   7680965.0

In [70]:
nba_attendance_df = pd.read_csv('nba_2017_attendance.csv')

In [71]:
nba_attendancefilter_df = nba_attendance_df[['TEAM', 'AVG', 'PCT']]

In [72]:
nba_buzz_df = pd.merge(nba_socialmediasalary_df, nba_attendancefilter_df , on='TEAM')

In [73]:
print(nba_buzz_df.head(5))

           PLAYER  pageviews  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT  \
0    Aaron Brooks      4.083                     1.0                    3.0
1     Jeff Teague      6.856                    17.5                   13.5
2  Kevin Seraphin      6.717                     4.5                    8.0
3    Myles Turner      4.574                    53.0                   31.0
4     Paul George    769.595                   228.5                  128.0

  POSITION            TEAM      SALARY    AVG   PCT
0       PG  Indiana Pacers   2700000.0  16697  91.9
1       PG  Indiana Pacers   8800000.0  16697  91.9
2        C  Indiana Pacers   1800000.0  16697  91.9
3        C  Indiana Pacers   2463840.0  16697  91.9
4       SF  Indiana Pacers  18314532.0  16697  91.9

In [74]:
nba_buzz_df.isnull().sum()

PLAYER                    0
pageviews                 0
TWITTER_FAVORITE_COUNT    3
TWITTER_RETWEET_COUNT     3
POSITION                  0
TEAM                      0
SALARY                    0
AVG                       0
PCT                       0
dtype: int64

In [75]:
nba_fullbuzz_df = nba_buzz_df.fillna(0.0)

In [76]:
nba_fullbuzz_df.isnull().sum()

PLAYER                    0
pageviews                 0
TWITTER_FAVORITE_COUNT    0
TWITTER_RETWEET_COUNT     0
POSITION                  0
TEAM                      0
SALARY                    0
AVG                       0
PCT                       0
dtype: int64

In [77]:
nba_final_df = pd.merge(nba_finalstats_df, nba_fullbuzz_df, on=['PLAYER'])

In [78]:
print(nba_final_df.head())

              PLAYER TEAM_x   G  GS    MP   TRB   AST  STL  BLK  PS/G  ...  \
0  Russell Westbrook    OKC  81  81  34.6  10.7  10.4  1.6  0.4  31.6  ...
1       James Harden    HOU  81  81  36.4   8.1  11.2  1.5  0.5  29.1  ...
2     Damian Lillard    POR  75  75  35.9   4.9   5.9  0.9  0.3  27.0  ...
3       LeBron James    CLE  74  74  37.8   8.6   8.7  1.2  0.6  26.4  ...
4       Kyrie Irving    CLE  72  72  35.1   3.2   5.8  1.2  0.3  25.2  ...

    RPM   WINS  pageviews  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT  \
0  6.27  17.34   2367.837                  2130.5                  559.0
1  4.81  15.54   1337.869                   969.0                  321.5
2  3.14  10.72    926.756                   186.5                   43.0
3  8.42  20.43   8823.785                  5533.5                 1501.5
4  2.05   8.28   3022.758                  1541.0                  695.0

   POSITION                  TEAM_y      SALARY    AVG    PCT
0        PG   Oklahoma City Thunder  26500000.0  18203  100.0
1        PG         Houston Rockets  26500000.0  16973   94.1
2        PG  Portland Trail Blazers  24328425.0  19317   99.4
3        SF     Cleveland Cavaliers  30963450.0  20562  100.0
4        PG     Cleveland Cavaliers  17638063.0  20562  100.0

[5 rows x 27 columns]

In [82]:
nba_final_df.columns = nba_final_df.columns.str.replace('pageviews ','WIKI_PAGE_VIEWS')

In [83]:
nba_final_df.columns = nba_final_df.columns.str.replace('TEAM_x','TEAM_SH')

In [86]:
nba_final_df.columns = nba_final_df.columns.str.replace('TEAM_y','TEAM')

In [87]:
print(nba_final_df.columns)

Index(['PLAYER', 'TEAM_SH', 'G', 'GS', 'MP', 'TRB', 'AST', 'STL', 'BLK',
       'PS/G', 'GP', 'W', 'L', 'NETRTG', 'TS%', 'PIE', 'MPG', 'RPM', 'WINS',
       'pageviews', 'TWITTER_FAVORITE_COUNT', 'TWITTER_RETWEET_COUNT',
       'POSITION', 'TEAM', 'SALARY', 'AVG', 'PCT'],
      dtype='object')